snippet snip "snippet" wb
snippet $1 "$2" $3
$0
`!p snip.rv = "endsnippet" `
endsnippet

snippet !p "python function" iA
\`!p snip.rv = $1\`
endsnippet

snippet !m "match group" iA
\`!p snip.rv = match.group(${1:1})\`
endsnippet

