* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

@keyframes blink {
    to {
        color: #d78787;
    }
}

window#waybar {
    /* background-color: rgba(43, 48, 59, 0.5); */
    background-color: rgba(0, 0, 0, 0);
}

.modules-right {
    /* background-color: rgba(43, 48, 59, 0.5); */
    background: rgba(255, 0, 0, 0);
    /* border-bottom: 10px solid rgba(100, 114, 125, 1); */
}

#clock,
#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-keyboard,
#custom-rotate,
#custom-quit,
#custom-music,
#window,
#mode,
#workspaces {
    background: #1d1f21;
    margin: 10px 0 0 0;
    margin-bottom: 2px;
    padding: 5px;
    box-shadow: 0 2px 2px -2px #000000, 0 -2px 2px -2px #000000;
}

#mode {
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 2px;
    color: #d7afd7;
    box-shadow: 0 0 2px #000000;
}

#workspaces {
    margin-right: 3px;
    margin-left: 20px;
    margin-bottom: 2px;
    padding: 0 10px 0 10px;
    border-radius: 8px;
    box-shadow: 0 0 2px #000000;
}

#workspaces button {
    padding: 0 3px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    /* background-color: #d78787; */
    box-shadow: inset 0 -3px #d78787;
}

#window {
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 2px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    color: #afafd7;
    box-shadow: 0 0 2px #000000;
}

#clock {
    margin-right: 20px;
    padding: 5px 7px 5px 5px;
    border-radius: 0 8px 8px 0;
    color: #d7afd7;
}

#battery {
    color: #afafd7;
}

#battery.charging {
    color: #afd787;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature {
    color: #afd787;
}

#temperature.critical {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    color: #d7af5f;
}

#network {
    color: #87afd7;
}

#pulseaudio {
    color: #d7afd7;
}

#custom-keyboard {
    color: #afafd7;
}

#custom-rotate {
    padding: 5px 5px 5px 7px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #d7af5f;
}

#custom-music {
    margin-right: 3px;
    margin-left: 3px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}

#custom-quit {
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 2px;
    padding: 5px 7px 5px 7px;
    border-radius: 8px;
    color: #d78787;
    box-shadow: 0 0 2px #000000;
}
